@charset "utf-8";
/* CSS Document */

* {
margin:0;
padding:0;
list-style:none;
vertical-align:baseline;
}

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}

body{
	margin:0;
	padding:0;
    font-family: 'Open Sans', sans-serif;
}

a{
    color: #fff;
    text-decoration: none;
}

h1{
    font-weight: 400;
	color: rgba(252, 107, 10, 1);
	font-size:60px;	
    margin-bottom: 20px;
    text-align: left;
}

.load-overlay{
    width: 100%;
    height: 100%;
    background: #FFF;
    position: fixed;
    z-index: 1000;
    opacity: 1;
    -webkit-animation: appearContent ease 1.5s 1.5s 1 forwards;
    -o-animation: appearContent ease 1.5s 1.5s 1 forwards;
    animation: appearContent ease 1.5s 1.5s 1 forwards;  
}

/*animação de aparição do site */

@-webkit-keyframes appearContent {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    z-index: -20;
  }
}
@-moz-keyframes appearContent {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    z-index: -20;
  }
}
@-ms-keyframes appearContent {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    z-index: -20;
  }
}
@-o-keyframes appearContent {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    z-index: -20;
  }
}
@keyframes appearContent {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    z-index: -20;
  }
}

.wrap{
	width:1200px;
	height:auto;
	margin:0 auto;	
}

nav{
	width:100%;
	height:90px;
	background:rgba(255,255, 255, 0.95);
	position:fixed;
    top: -92px;
	z-index:999;
    border-bottom: 2px solid #ff9900;
    transition: all 0.4s ease 0s;

}

.scrolled{
    top:0px;
    transition: all 0.4s ease 0s;
}

nav img{
	height:70px;
	float:left;
    margin-top: 10px;
    transition: all 0.2s ease 0s;
    cursor: pointer;
}

nav img:hover{
    height: 76px;
}
nav ul{
	width:397px;
	height:90px;
	float:right;
	margin:0;	
}


nav a{
	text-decoration:none;
	font-size:19px;
	color:#ff9900;
}

nav a:hover{
	color: rgba(252, 107, 10, 1);	
}

nav a li{
	display:inline-block;
	list-style:none;
	margin:0px 25px;
	padding-top:34px;
	padding-bottom:34px;
}

.active{
   color: rgba(252, 107, 10, 1);
}

.linha_colorida{
	width:100%;
	height:13px;	
}

.laranja_escuro{
	width: 33.4%;
	height: 13px;
	background: rgba(252, 107, 10, 1);
	float:left;
}

.laranja_claro{
	width: 33.3%;
	height: 13px;
	background: #ff9900;
	float:left;
}

.amarelo{
	width: 33.3%;
	height: 13px;
	background: rgba(255, 188, 71, 1);	
	float:left;
}

.home{
	width:100%;
    position: relative;
    background: url(../img/capa.jpg) center center no-repeat;
    background-size: cover;
}

.home img{
    width: 300px;
    height: 300px;
    position: absolute;
    top: 50%;
    margin-left: -170px;
    margin-top: -230px;
    left: 50%;
}

.home h1{
    font-family: 'Open Sans', sans-serif;
    position: absolute;
    font-size: 72px;
    text-align: center;
    font-weight: normal;
    letter-spacing: 6px;
    top: 50%;
    margin-left: -329px;
    margin-top: 100px;
    left: 50%;
    color: #fff;  
}

.home h2{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 54px;
    text-align: center;
	color: #fff;
    position: absolute;
    top: 50%;
    margin-left: -436px;
    margin-top: 190px;
    left: 50%;    
}


.sobre{
	width:100%;
	margin-top:20px;
}

.quad{
	width:600px;
	height:500px;
	float:left;
	background:#fff;

}

.quad img{  
    margin: 30px auto 0 auto;
    
}

.quad .cover{
    width: 600px;
    height: 500px;
    position: absolute;
    top: 784px;
    z-index: 1;
    background: rgba(252, 107, 10, 0.55)
}

.quad h2{
    margin:auto 0;
    font-size: 60px;
    font-weight: 300;
    text-align: right;
    z-index: 100;
    position:relative; top:-150px; right: 50px;
}

.quad h3{
    margin-top: 20px;
    margin-left: 20px;
    font-size: 27.5px;
    font-weight: normal;
    text-align: left;
    color: rgba(252, 107, 10, 1);
}

.sobre .quad:nth-child(2) {
	background:#fff;
	padding-top:200px;
	height:300px;
	color:rgba(252, 107, 10, 1)
}

.sobre .quad:nth-child(3) {
	background: url(../img/workspace.jpg) no-repeat;
    padding-top:0px;
	height:500px;
    color: #fff;
}

.sobre .quad:nth-child(5) {
	background:#fff;	
	margin-bottom:30px;
    padding-top: 20px;
    padding-left: 20px;
    width: 570px;
    height: 470px;
}

.habilidades{
    width: 300px;
    height: 250px;
    float: left;
    background: rgba(252, 107, 10, 0.95);

}

.habilidades:nth-child(2),.habilidades:nth-child(3)  {
    background: rgba(252, 107, 10, 0.75);
}

.habilidades img{
    margin: 30px 10px 20px 45px;
    width: 204px;
}

.habilidades h3{
    font-size: 25px;
    margin: 0;
    color: #fff;
    text-align: center;
}

.portfolio{
	width:100%;
    padding-bottom: 30px;
    text-align: center;
}

.item_portfolio{
	width:100%;
	height:293px;
	background:#06F;
	position:relative;
	overflow:hidden;	
}

/* Even = primeiro e terceiro item do port */
.item_portfolio:nth-child(even) h1{
	color:#fff;	
	position:absolute;
	left:20px;
	top:20px;
    z-index: 99;

}


/* odd = segundo item do portfolio */
.item_portfolio:nth-child(odd) h1{
	color:#fff;	
	position:absolute;
	top:20px;
    right: 20px;
    z-index: 99;

}

.item_portfolio:nth-child(even) h2{
	color:#fff;
	position:absolute;
	top:190px;
    left: 20px;
    z-index: 99;

}

.item_portfolio:nth-child(even) h2:nth-child(2){
	color:#fff;
	position:absolute;
	top:240px;
    left: 20px;
    z-index: 99;

}

.item_portfolio:nth-child(odd) h2{
	color:#fff;
	position:absolute;
	top:180px;
    right: 20px;
    z-index: 99;

}


.item_portfolio:nth-child(odd) h2:nth-child(2){
	color:#fff;
	position:absolute;
	top:240px;
    right: 20px;
    z-index: 99;

}

/* icones da direita */
.item_portfolio:nth-child(even) .icon{
    width: 55px;
    height: 55px;
    position: absolute;
    top: 150px;
    right: 20px;
    border-radius: 50%;
    border: 2px #fff solid;
    z-index: 99;

}

.item_portfolio:nth-child(even) .icon:nth-child(odd){
    width: 55px;
    height: 55px;
    position: absolute;
    top: 220px;
    right: 20px;
    border-radius: 50%;
    border: 2px #fff solid;
    z-index: 99;

}

/* icones da esquerda */

.item_portfolio:nth-child(odd) .icon{
    width: 55px;
    height: 55px;
    position: absolute;
    top: 150px;
    left: 20px;
    border-radius: 50%;
    border: 2px #fff solid;
    z-index: 99;

}

.item_portfolio:nth-child(odd) .icon:nth-child(odd){
    width: 55px;
    height: 55px;
    position: absolute;
    top: 220px;
    left: 20px;
    border-radius: 50%;
    border: 2px #fff solid;
    z-index: 99;

}

.cover{
	width:1200px;
	height:2993px;
    position: absolute;
	background:rgba(0,0,0,0.5);
    z-index: 1
}


.item_portfolio img{
    width: 1200px;
}

.botao_portfolio{
    width: 163px;
    height: 163px;
	padding:-200px 0px;
    display: inline-block;
	border-radius:50%;
	background:#ff9900;
	border-bottom:13px rgba(252, 107, 10, 1) solid;
	transition:ease-out 0.4s all;
    text-align: center;
    font-size: 180px;
    color: #fff;
    box-sizing: border-box;
    margin: 30px;
    position: relative;
}

.botao_portfolio p{
    -ms-transform: translateY(-50px); /* IE 9 */
    -webkit-transform: translateY(-50px); /* Chrome, Safari, Opera */
    transform: translateY(-50px);
}

.botao_portfolio:hover{
	border-bottom:3px rgba(252, 107, 10, 1) solid;
	transition:ease-out 0.2s all;
    -ms-transform: translateY(10px); /* IE 9 */
    -webkit-transform: translateY(10px); /* Chrome, Safari, Opera */
    transform: translateY(10px);
}

.botao_portfolio:after, .botao_portfolio:last-child:after{
    content: "Meu Behance";
    left:-165px;
    background:#ff9900;
    padding: 5px;
    font-size: 20px;
    color: #fff;
    position: absolute;
    top: 40%;
    transition:ease-out 0.2s all;
    border-radius: 5px;
    border-bottom: 8px rgba(252, 107, 10, 1) solid;
    border-left: 2px rgba(252, 107, 10, 1) solid;
    border-right: 2px rgba(252, 107, 10, 1) solid;
}

.botao_portfolio:last-child:after{
    content: "Meu GitHub";
    right:-150px;
    left: auto;
}

.botao_portfolio:hover::after{
    border-bottom: 2px rgba(252, 107, 10, 1) solid;
    border-left: 2px rgba(252, 107, 10, 1) solid;
    border-right: 2px rgba(252, 107, 10, 1) solid;   
}

h4{
    font-weight: normal;
    text-align: center;
    color: #666;
    padding-bottom:5px;
    float: none;
}