//HEADER
//------------------------------------------------------------------
	
.content__section.content__section--banner
	height 100%
	background url(../imgs/capa-2000.jpg) no-repeat center center
	background-size cover
	
.banner__caption
	position absolute
	top 50%
	left 50%
	transform translate(-50%, -50%)
	
	.banner__caption__picture
		margin 0 auto
		margin-bottom space
		max-width 300px