//PORTFOLIO MODULES
//------------------------------------------------------------------

.portfolio-item
	width 50%
	float left
	overflow hidden
	transition .5s ease all
	cursor pointer
	+bp(desktop)
		width 33.33%
		float left
	
	&:hover
		img
			width 800px
	&.blurred
		-webkit-filter blur(2.5px)
		filter blur(2.5px)