/*

Raphael Sanches - Designer e Desenvolvedor Front-end.
2016.

*/

// Esse arquivo através do import reune todos os outros arquivos de estilos. Sempre que for criado um novo arquivo, é necessário chama-lo aqui, se não não será compilado no css final.


//Base
//----------------------------------------------------------------

@import 'base/normalize'


//Config
//----------------------------------------------------------------

@import 'config/variables'
@import 'config/mixins'

//Layouts
//----------------------------------------------------------------

@import 'layouts/l-header'
