//BASE
//------------------------------------------------------------------

html
  height 100%
  
body
	height 100%
	left 0
	right 0
	font-size 62.5%
	margin auto
	font-family 'Open Sans', sans-serif

*, *:after, *:before
	box-sizing border-box
	
	box-sizing border-box

img
	width 100%
	max-width 100% 
	vertical-align: top;
