// Variables


//Colors
//---------------------------------------------------------------------------------------

R-yellow = rgba(255, 188, 71, 1);
R-lightOrange = #ff9900
R-darkOrange = rgba(252, 107, 10, 1)


//Space
//--------------------------------------------------------------------------------------

Space = 20px

